{% extends 'base.html.twig' %}

{% block title %}Notre histoire{% endblock %}

{% block body %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-3 text-white mb-4 animated slideInDown">Nous découvrir</h1>
        </div>
    </div>
    <!-- Page Header End -->


    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6">
                    <div class="row g-2">
                        <div class="col-6 position-relative wow fadeIn" data-wow-delay="0.7s">
                            <div class="about-experience bg-secondary rounded">
                                <h1 class="display-1 mb-0">{{ yearsExperience }}</h1>
                                <small class="fs-5 fw-bold">Ans d'experience</small>
                            </div>
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
                            <img class="img-fluid rounded" src="{{ asset('img/service-1.jpg') }}" alt="un champs de blé">
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.3s">
                            <img class="img-fluid rounded" src="{{ asset('img/service-2.jpg') }}" alt="une assiette de riz et poulet">
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.5s">
                            <img class="img-fluid rounded" src="{{ asset('img/service-3.jpg') }}" alt="un bol de céréales">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="section-title bg-white text-start text-primary pe-3">Notre histoire</h1>
                    <p class="mb-4">Fondée en 1989, ADIVEC est une société de représentation
                        et de négoce spécialisée dans les dérivés de produits agricoles et les matières premières naturelles.</p>
                    <h2 class="mb-4">Nos secteurs d'activité</h2>
                    <div class="row g-5 pt-2 mb-5">
                        <div class="col-sm-6">
                            <img class="img-fluid mb-4" src="{{ asset('img/service.png') }}"
                                 alt="Secteur activité agroalimentaire">
                            <h5 class="mb-3">Agroalimentaire</h5>
                            <span>Clita erat ipsum et lorem et sit, sed stet lorem sit clita</span>
                        </div>
                        <div class="col-sm-6">
                            <img class="img-fluid mb-4" src="{{ asset('img/product.png') }}"
                                 alt="Secteur activité papier">
                            <h5 class="mb-3">Papier</h5>
                            <span>Clita erat ipsum et lorem et sit, sed stet lorem sit clita</span>
                        </div>
                        <div class="col-sm-6">
                            <img class="img-fluid mb-4" src="{{ asset('img/service.png') }}"
                                 alt="Secteur activité textile">
                            <h5 class="mb-3">Textile</h5>
                            <span>Clita erat ipsum et lorem et sit, sed stet lorem sit clita</span>
                        </div>
                        <div class="col-sm-6">
                            <img class="img-fluid mb-4" src="{{ asset('img/product.png') }}"
                                 alt="Secteur activité colles et adhésifs">
                            <h5 class="mb-3">Colles et Adhésifs</h5>
                            <span>Clita erat ipsum et lorem et sit, sed stet lorem sit clita</span>
                        </div>
                    </div>
                    <h2 class="mb-4">Notre démarche</h2>
                    <p class="mb-4">Notre démarche se base sur l’analyse et la compréhension des besoins de nos clients
                        afin de proposer une offre qui corresponde à leurs attentes techniques et budgétaires.</p>
                    <a class="btn btn-secondary rounded-pill py-3 px-5" href="{{ path('app_contact') }}">Contactez-nous!</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
