{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <!-- Carousel Start -->
    <div class="container-fluid px-0 mb-5">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for slide in slides %}
                    <div {% if loop.index0 == 0 %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
                        <img class="w-100" src="{{ asset('uploads/images/slides/'~slide.image) }}" alt="Image">
                        <div class="carousel-caption">
                            <div class="container">
                                <div class="row justify-content-start">
                                    <div class="col-lg-8 text-start">
                                        <p class="fs-4 text-white">{{ slide.subtitle | raw }}</p>
                                        <h1 class="display-1 text-white mb-5 animated slideInRight">{{ slide.title }}</h1>
                                        <a href="{{ path('app_about') }}"
                                           class="btn btn-secondary rounded-pill py-3 px-5 animated slideInRight">Voir
                                            plus ...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                    data-bs-slide="prev" aria-labelledby="précédent">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                    data-bs-slide="next" aria-labelledby="suivant">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Carousel End -->
    
    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6">
                    <div class="row g-2">
                        <div class="col-6 position-relative wow fadeIn" data-wow-delay="0.7s">
                            <div class="about-experience bg-secondary rounded animated slideInLeft">
                                <h1 class="display-1 mb-0 text-primary">{{ yearsExperience }} </h1>
                                <h2 class="text-primary">ans</h2>
                                <small class="fs-5 fw-bold text-primary texte-cadre-annee">d'accompagnement client</small>
                            </div>
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
                            <img class="img-fluid rounded" src="{{ asset('img/service-1.jpg') }}" alt="">
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.3s">
                            <img class="img-fluid rounded" src="{{ asset('img/service-2.jpg') }}" alt="">
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.5s">
                            <img class="img-fluid rounded" src="{{ asset('img/service-3.jpg') }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h2 class="section-title bg-white text-start text-primary pe-3">Notre histoire</h2>
                    <p class="mb-2">Fondée en 1989, ADIVEC est une société de représentation
                        et de négoce spécialisée dans les dérivés de produits agricoles et les matières premières
                        naturelles.</p>
                    <p class="mb-5">Vos besoins, nos priorités. Zéro standardisation, 100 % adaptation.</p>

                    <h2 class="mb-3">Nos secteurs d'activité</h2>
                    <div class="row pt-2 mb-5">
                        <div class="col-sm-6 mt-2">
                            <img class="img-fluid mb-2" src="{{ asset('img/ble.png') }}" alt="" style="width: 60px">
                            <h5 class="mb-3">Alimentaire</h5>
                            <span>
                                Nous offrons des ingrédients répondant aux exigences
                                de l’industrie agroalimentaire.
                            </span>
                        </div>

                        <div class="col-sm-6 mt-2">
                            <img class="img-fluid mb-2" src="{{ asset('img/pinceau.png') }}" alt="" style="width: 60px">
                            <h5 class="mb-3">Technique</h5>
                            <span title=" utilisé dans le
                                secteur des colles et adhesif, les papiers peints ou l’affichage. Adivec propose
                                également des produits pour les différentes étapes de la production papetière.">
                                Nous fournissons des solutions pour la fabrication de produit technique
                            </span>
                        </div>

                        <div class="col-sm-6 mt-2">
                            <img class="img-fluid mb-2" src="{{ asset('img/la-nourriture-pour-animaux.png') }}" alt="" style="width: 60px">
                            <h5 class="mb-3">Feed</h5>
                            <span>Nous proposons une large gamme d’ingredients pour l’alimentation animal</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- News Start -->
    <div class="container-fluid banner my-5 py-5" data-parallax="scroll" data-image-src="img/banner.jpg">

        <div class="container">
            <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">News</p>
            </div>
            <div class="row gy-5 gx-4">
                {% set timedelay = 0.1 %}
                {% for new in news %}
                    <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="{{ timedelay }}s">
                        <div class="service-item d-flex h-100">
                            <div class="service-img">
                                <img class="img-fluid" src="{{ asset('uploads/images/blog/'~new.image) }}"
                                     alt="{{ new.title }}">
                            </div>
                            <div class="service-text p-5 pt-0">
                                <div class="service-icon">
                                    <img class="img-fluid rounded-circle"
                                         src="{{ asset('uploads/images/blog/'~new.image) }}" alt="{{ new.title }}">
                                </div>
                                <h5 class="mb-3">{{ new.title }}</h5>
                                <p class="mb-4">{{ new.description |striptags|u.truncate(25, '...') }}</p>
                                <a class="btn btn-square rounded-circle" href="{{ path('show_blog', {id: new.id}) }}"><i
                                            class="bi bi-chevron-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                    {% set timedelay = timedelay + 0.2 %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- News End -->

    <!-- Product Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">Nos familles d'ingrédients</p>
                <h1 class="mb-5">Découvrir nos ingrédients</h1>
            </div>
            <div class="row gx-4 d-flex justify-content-around">

                {% for family in families %}
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                        <a class="d-block h5" href="{{ path('app_types_family', {'id': family.id}) }}">
                            <div class="product-item">
                                <div class="position-relative famille image">
                                    <img class="img-fluid image-height" src="{{ asset('uploads/images/family/'~family.image) }}"
                                         alt="{{ family.name }}">
                                </div>
                                <div class="text-center p-4">
                                    <a class="d-block h5" href="{{ path('app_types_family', {'id': family.id}) }}">{{ family.name }}</a>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% set timedelay = timedelay + 0.2 %}
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- Product End -->

    <!-- Applications Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="mb-5">Découvrir nos applications</h1>
            </div>
            <div class="row gx-4 d-flex justify-content-around">

                {% for application in applications %}

                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                        <a class="d-block h5" href="{{ path('app_application', {'id': application.id}) }}">
                            <div class="product-item">
                                <div class="position-relative famille image">
                                    <img class="img-fluid image-height"
                                         src="{{ asset('uploads/images/application/'~application.image) }}"
                                         alt="famille alimentaire">
                                </div>
                                <div class="text-center p-4">
                                    <span>{{ application.libelle }}</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    {% set timedelay = timedelay + 0.2 %}
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- Applications End -->

    <!-- Partenaires Logos Start -->
    <div class="container-xxl py-5 mt-5">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="section-title bg-white text-center text-primary px-3">Partenaires</p>
        </div>
        <div class="wow fadeInUp d-flex justify-content-center" data-wow-delay="0.1s">
            {% for logo in logos %}
                <div class="logo">
                    <img class="img-fluid animated infinite"
                         src="{{ asset('uploads/images/logos/'~logo.logo) }}"
                         alt="logos partenaire {{ logo.name }}">
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Partenaires Logos End -->

{% endblock %}
