{% extends 'base.html.twig' %}

{% block title %}Liste de nos produits{% endblock %}

{% block body %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-3 text-white mb-4 animated slideInDown">Nos produits</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Product Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">Nos familles de produits</p>
                <h1 class="mb-5">Découvrir nos solutions</h1>
            </div>
            <div class="row gx-4 d-flex justify-content-around">

                {% for family in families %}
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                        <a class="d-block h5" href="{{ path('app_types_family', {'id': family.id}) }}">
                            <div class="product-item">
                                <div class="position-relative famille image">
                                    <img class="img-fluid image-height" src="{{ asset('uploads/images/family/'~family.image) }}"
                                         alt="{{ family.name }}">
                                </div>
                                <div class="text-center p-4">
                                    <a class="d-block h5" href="{{ path('app_types_family', {'id': family.id}) }}">{{ family.name }}</a>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% set timedelay = timedelay + 0.2 %}
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- Product End -->

{% endblock %}
