{% extends 'base.html.twig' %}
{% block seo %}
    <meta name="description" content="Nos produits"/>
{% endblock %}
{% block title %}Nos produits{% endblock %}

{% block body %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-3 text-white mb-4 animated slideInDown">Nos produits</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('app_types_family', { 'id' : family.id }) }}">{{ family.name }}</a></li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Product Start -->
    <div class="container-xxl py-5">

        <div class="container">

            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">Nos produits</p>
            </div>

            <div class="container d-flex align-items-center justify-content-center flex-wrap">
                {% for product in products %}

                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                        <a class="lien-product" href="{{ path('app_product_page', {'id': product.id} ) }}">
                            <div class="type-item">

                                <div class="text-center p-4">
                                    {{ product.nom }}
                                </div>

                            </div>
                        </a>
                    </div>

                    {% set timedelay = timedelay + 0.2 %}



                    {#                    #}
                    {#                    <a href="{{ path('app_product_page', {'id': product.id} ) }}"> #}
                    {#                        <div class="box"> #}
                    {#                            <div class="body"> #}
                    {#                                <div class="imgContainer"> #}

                    {#                                    {% if product.image %} #}
                    {#                                        <img class="img-fluid" #}
                    {#                                             src="{{ asset('uploads/images/products/'~product.image) }}" #}
                    {#                                             alt="famille alimentaire"> #}
                    {#                                    {% else %} #}
                    {#                                        <img class="img-fluid" #}
                    {#                                             src="{{ asset('uploads/images/family/'~product.type.family.image) }}" #}
                    {#                                             alt="famille alimentaire"> #}
                    {#                                    {% endif %} #}
                    {#                                    <div class="texte-over-image"> #}
                    {#                                        <p class="fs-6">{{ product.packaging }}</p> #}
                    {#                                        <p class="fs-6">{{ product.applications.toString() }}</p> #}
                    {#                                    </div> #}

                    {#                                </div> #}
                    {#                                <div class="content d-flex flex-column align-items-center justify-content-center"> #}
                    {#                                    <div> #}
                    {#                                        <h3 class="text-white fs-5">{{ product.nom }}</h3> #}
                    {#                                    </div> #}
                    {#                                </div> #}
                    {#                            </div> #}
                    {#                        </div> #}
                    {#                    </a> #}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Product End -->
{% endblock %}
