{% extends 'base.html.twig' %}
{% block seo %}
    <meta name="description" content="{{ product.nom }}"/>
{% endblock %}
{% block title %}{{ product.nom }}{% endblock %}

{% block body %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-3 text-white mb-4 animated slideInDown">{{ product.type.name }}</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('app_types_family', { 'id' : product.type.family.id }) }}">{{ product.type.family.name }}</a></li>
                    <li class="breadcrumb-item"><a
                                href="{{ path('app_products_type', { 'typeId' : product.type.id }) }}">{{ product.type.name }}</a></li>
                </ol>
            </nav>

        </div>
    </div>
    <!-- Page Header End -->


    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="pb-4 wow fadeInUp d-flex fiche-produit" data-wow-delay="0.1s">
                <div class="col-auto" style="max-width: 50%">
                    {% if product.image %}
                        <img class="img-fluid"
                             src="{{ asset('uploads/images/products/'~product.image) }}"
                             alt="image-fiche-produit">
                    {% else %}
                        <img class="img-fluid"
                             src="{{ asset('uploads/images/family/'~product.type.family.image) }}"
                             alt="image-fiche-produit">
                    {% endif %}
                </div>

                <div class="texte-produit">
                    <div class="d-flex app-rows mb-4 mt-2">
                        <div>
                            <h1 class="mb-5" style="max-width: 800px;">{{ product.nom }}</h1>
                        </div>
                        <div>
                            <h2>Applications</h2>
                        </div>

                        <div>
                            {% for application in product.applications %}
                                <a href="{{ path('app_application', {'id': application.id}) }}"
                                   class="btn rounded-pill animated slideInRight" style="width: 100%;"
                                   title="{{ application.libelle }}">
                                    <div class="app-pills d-flex">
                                        <div>
                                            <img class="img-fluid mb-2"
                                                 src="{{ asset('uploads/images/application/icone/'~application.icone) }}"
                                                 alt="" style="width: 30px">
                                        </div>
                                        <div>
                                            <p class="libelle-application">{{ application.libelle }}</p>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>

                    </div>

                    <h2>Packaging</h2>
                    <div class="d-flex">
                        <p class="mb-4">{{ product.packaging }}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Service End -->
{% endblock %}
