{% extends 'base.html.twig' %}

{% block title %}Contactez-nous!{% endblock %}

{% block body %}
    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">Contactez-nous</p>
                <h1 class="mb-5">Si vous avez des questions, n'hésitez pas à nous contacter!</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h3 class="mb-4">Besoin de nous contacter?</h3>
                    <p>Utilisez le formulaire ci-dessous!</p>
                    <div>
                        {{ form_start(form) }}
                        <div class="row g-3">
                            <div class="col-12">
                                <div class="form-floating">
                                    {{ form_row(form.company, {'attr': {'class': 'form-control'}}) }}
{#                                    <input type="text" class="form-control" id="name" placeholder="Your Name">#}
{#                                    <label for="name">Le nom de votre compagnie</label>#}
{#                                      {{ form_label(form.company) }}
                                        {{ form_widget(form.company, {'attr': {'class': 'form-control'}}) }}
#}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">

                                    {{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
{#                                    <input type="text" class="form-control" id="name" placeholder="Your Name">#}
{#                                    <label for="name">Votre nom</label>#}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
{#                                    <input type="email" class="form-control" id="email" placeholder="Your Email">#}
{#                                    <label for="email">Votre email</label>#}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    {{ form_row(form.message, {'attr': {'class': 'form-control'}}) }}
{#                                    <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 250px"></textarea>#}
{#                                    <label for="message">Message</label>#}
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-secondary rounded-pill py-3 px-5" type="submit" aria-labelledby="envoyer">Envoyer le message</button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <h3 class="mb-4">Nos informations de contact</h3>
                    <div class="d-flex border-bottom pb-3 mb-3">
                        <div class="flex-shrink-0 btn-square bg-secondary rounded-circle">
                            <i class="fa fa-map-marker-alt text-body"></i>
                        </div>
                        <div class="ms-3">
                            <h6>Notre bureau</h6>
                            <span>10 bis rue de Lahire, 45000 Orléans</span>
                        </div>
                    </div>
                    <div class="d-flex border-bottom pb-3 mb-3">
                        <div class="flex-shrink-0 btn-square bg-secondary rounded-circle">
                            <i class="fa fa-phone-alt text-body"></i>
                        </div>
                        <div class="ms-3">
                            <h6>Appelez-nous</h6>
                            <span>02 38 24 15 50</span>
                        </div>
                    </div>
                    <div class="d-flex border-bottom-0 pb-3 mb-3">
                        <div class="flex-shrink-0 btn-square bg-secondary rounded-circle">
                            <i class="fa fa-envelope text-body"></i>
                        </div>
                        <div class="ms-3">
                            <h6>Envoyez nous un email</h6>
                            <span>contact@adivec.fr</span>
                        </div>
                    </div>

                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d167.15501569567712!2d1.8971411!3d47.9077443!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e4fad51761d9fd%3A0xa3133e573c0d37d7!2sAdivec!5e0!3m2!1sfr!2sfr!4v1719399299028!5m2!1sfr!2sfr"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade" title="point gps Adivec">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

{% endblock %}
