<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="ADIVEC est une société de représentation et de négoce spécialisée dans les dérivés de produits agricoles et les matières premières naturelles."/>
    <meta name="author" content="Adivec"/>

    <title>{% block title %}ADIVEC Produits transformés d'origine naturelle{% endblock %}</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{{ asset('img/logo_adivec_seul.png') }}"/>
    {% block stylesheets %}
        <!-- Font Awesome icons (free version)-->
        <script src="{{ asset('js/fontawesome_all.js') }}" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Open+Sans:wght@400;500;600&display=swap"
              rel="stylesheet">

        <!-- Icon Font Stylesheet -->
        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/font_bootstrap-icon.css') }}" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="{{ asset('lib/animate/animate.min.css') }}" rel="stylesheet">
        <link href="{{ asset('lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
        <link href="{{ asset('lib/lightbox/css/lightbox.min.css') }}" rel="stylesheet">

        <!-- Customized Bootstrap Stylesheet -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
    {% endblock %}

    {% block javascripts %}
        <!-- JavaScript Libraries -->
        <script src="{{ asset('js/jquery-3.4.1.js') }}"></script>
        <script src="{{ asset('js/bootstrap.bundle.js') }}"></script>
        <script src="{{ asset('lib/wow/wow.min.js') }}"></script>
        <script src="{{ asset('lib/easing/easing.min.js') }}"></script>
        <script src="{{ asset('lib/waypoints/waypoints.min.js') }}"></script>
        <script src="{{ asset('lib/owlcarousel/owl.carousel.min.js') }}"></script>
        <script src="{{ asset('lib/counterup/counterup.min.js') }}"></script>
        <script src="{{ asset('lib/parallax/parallax.min.js') }}"></script>
        <script src="{{ asset('lib/lightbox/js/lightbox.min.js') }}"></script>

        <!-- Template Javascript -->
        <script src="{{ asset('js/main.js') }}"></script>
    {% endblock %}
</head>
<body id="page-top">
<!-- Spinner Start -->
<div id="spinner"
     class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
</div>
<!-- Spinner End -->


<!-- Topbar Start -->
<div class="container-fluid px-0 topbar">
    <div class="row g-0 d-none d-lg-flex">
        <div class="col-lg-6 ps-5 text-start">
            <div class="h-100 d-inline-flex align-items-center text-light">
                <span>Suivez-nous:</span>
                <a class="btn btn-link text-light" href="https://www.linkedin.com/company/adivec/?originalSubdomain=fr"
                    title="lien linkedin Adivec">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-6 text-end">
            <div class="h-100 d-inline-flex align-items-center text-dark py-2 px-4 phone">
                <span class="me-2 fw-semi-bold"><i class="fa fa-phone-alt me-2"></i>Appelez-nous:</span>
                <a href="tel:+33238241550" title="numéro de téléphone Adivec">02 38 24 15 50</a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5">
    <a href="{{ path('app_home') }}" class="navbar-brand d-flex align-items-center" title="lien page accueil">
        <img class="img-fluid" src="{{ asset('img/logo_adivec.png') }}" alt="logo Adivec">
    </a>
    <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-labelledby="menu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="{{ path('app_about') }}" class="nav-item nav-link">Nous découvrir</a>
            <a href="{{ path('app_news') }}" class="nav-item nav-link">News</a>
            <a href="{{ path('app_familles') }}" class="nav-item nav-link">Produits</a>
            <a href="{{ path('app_application_page') }}"  class="nav-item nav-link">Nos applications</a>
            <a href="{{ path('app_contact') }}" class="nav-item nav-link">Contactez-nous</a>
        </div>
        <div class="border-start ps-4 d-none d-lg-block">
            <button type="button" class="btn btn-sm p-0" aria-labelledby="recherche" title="recherche" id="search">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</nav>
<div class="col position-absolute">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
</div>
<!-- Navbar End -->
{% block body %}

{% endblock %}
<!-- Footer Start -->
<div class="container-fluid footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Notre bureau</h5>
                <p class="mb-2">
                    <a href="https://maps.app.goo.gl/bdN2JzJaGxAWqyRu9" target="blank">
                        <i class="fa fa-map-marker-alt me-3"></i>
                        10 bis rue de Lahire
                        <p class="align-adress">45000 Orléans</p>
                    </a>

                </p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i><a href="tel:+33238241550">02 38 24 15 50</a></p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i><a href="mailto:contact@adivec.fr"></a>contact@adivec.fr</p>
                <div class="d-flex pt-3">
                    <a class="btn btn-square rounded-circle me-2" href="https://www.linkedin.com/company/adivec/?originalSubdomain=fr"><i
                                class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Liens rapides</h5>
                <a class="btn btn-link" href="{{ path('app_about') }}">Découvrir</a>
                <a class="btn btn-link" href="{{ path('app_contact') }}">Nous contacter</a>
                <a class="btn btn-link" href="{{ path('app_news') }}">Nos news</a>
                <a class="btn btn-link" href="">Terms & Condition</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Heures d'ouvertures</h5>
                <p class="mb-1">Lundi - Vendredi</p>
                <h6 class="text-light">08:00 - 18:00</h6>
                <p class="mb-1">Samedi</p>
                <h6 class="text-light">Fermé</h6>
                <p class="mb-1">Dimanche</p>
                <h6 class="text-light">Fermé</h6>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Copyright Start -->
<div class="container-fluid text-body copyright py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                &copy; <a class="fw-semi-bold" href="#">Adivec</a>, All Right Reserved.
            </div>
            <div class="col-md-6 text-center text-md-end">
                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                Designed By <a class="fw-semi-bold" href="https://htmlcodex.com">HTML Codex</a> Distributed By <a href="https://themewagon.com">ThemeWagon</a>
            </div>
        </div>
    </div>
</div>
<!-- Copyright End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top" title="Back to Top"><i class="bi bi-arrow-up"></i></a>


</body>
</html>
